<style>
    @font-face {
  font-family: "toki-pona";
  src: url("FairfaxPonaHD.ttf");
    }
    pre {
        font-family: toki-pona;
        font-size: 40;
    }
    eng {
        font-family: serif
    }
</style>

<pre>
    toki! mi jan [matu].
    mi lape lili 
</pre>